@keyframes appear-sidebar {
  0% {
    width: 0%;
  }

  100% {
    width: 30%;
  }
}

.aside-sidebar {
  background-color: rgb(0, 0, 0);
  padding: 1em;
  width: 13em;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  /* animation: appear-sidebar 0.8s linear; */
}

.options {
  cursor: pointer;
  padding: 0.5em;
  margin-bottom: 0.5em;
  color: white;
  /* animation: appear-sidebar 0.8s linear; */
}

.options:hover,
.options:focus {
  background-color: rgba(128, 128, 128, 0.538);
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 1;
}

.container-menu {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
