.plus-button {
  bottom: 1em;
  right: 1em;
  background-color: #204212;
  border-radius: 1em;
  display: flex;
  z-index: 1;
}

.book-sec {
  background-color: white;
}

.book-sec h1 {
  background-color: #1c3213;
}
